/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    margin: 0 auto;
    max-width: 1984px;
    max-height: 900px;
}

/* Header Styles */
.header {
    width: 1984px;
    height: 900px;
    margin: 0 auto;
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-details {
    max-width: 675.8px;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 267.84px 248.2px 205px 1048px;
}

.header-title {
    height: 282.72px;
    color: rgb(21, 20, 20);
    font-size: 99.2px;
    font-weight: 868;
    line-height: 94.24px;
    text-align: right;
    margin-bottom: 29.76px;
}

.header-description {
    width: 612.56px;
    height: 96.72px;
    color: rgb(68, 67, 67);
    font-size: 19.84px;
    font-weight: 496;
    line-height: 32.24px;
    text-align: right;
    margin-bottom: 39.68px;
}

.header-btn {
    width: 216.8px;
    height: 79.36px;
    border-radius: 6.2px;
    background: rgb(241, 91, 34);
    color: rgb(255, 255, 255);
    font-size: 24.8px;
    font-weight: 744;
    line-height: 28.52px;
    border: none;
}

/* Failures Syles */

.failures {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 107.88px;
    margin: 162.04px 399.28px 199.88px 255.44px;
}

.fail-title {
    color: rgb(21, 20, 20);
    font-size: 49.6px;
    font-weight: 868;
    line-height: 58.28px;
    text-align: left;
    margin-bottom: 29.76px;
}

.fail-details {
    width: 515.84px;
    color: rgb(68, 67, 67);
    font-size: 19.84px;
    font-weight: 496;
    line-height: 32.24px;
    text-align: left;
    margin-bottom: 19.84px;
}

.fail-list {
    color: rgb(68, 67, 67);
    font-size: 19.84px;
    font-weight: 496;
    line-height: 32.24px;
    text-align: left;
    margin-bottom: 9.92px;
}

.fail-img {
    color: greenyellow;
    margin-left: 17.36px;
}

/* Plans Styles */

.My-plans {
    width: 1409.84px;
    height: 372px;
    margin: 199.88px 285.2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.plan-heading {
    color: rgb(21, 20, 20);
    font-size: 49.6px;
    font-weight: 868;
    line-height: 58.28px;
    text-align: left;
    margin-bottom: 69.44;
}
.plan-list {
    width: 1409.84px;
    display: flex;
    justify-content: space-between;
}

.plans {
    max-width: 334.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan-title {
    max-width: 334.8px;
    color: rgb(21, 20, 20);
    font-size: 37.2px;
    font-weight: 868;
    line-height: 43.4px;
    text-align: center;
    margin-top: 22.32px;
    margin-bottom: 19.84px;
}

.plan-subtitle {
    color: rgb(115, 114, 114);
    font-size: 31px;
    font-weight: 620;
    line-height: 35.96px;
    text-align: center;
}

/* Motivation Styles */

.motivation {
    width: 1413.6px;
    height: 248px;
    margin: 199.88px 285.2px;
    border: 1.24px solid rgb(241, 91, 34);
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 92.56px 0px 92.56px 80px;
}

.motivation-title {
    width: 569.16px;
    color: rgb(255, 255, 255);
    font-size: 49.6px;
    font-weight: 868;
    line-height: 58.28px;
    text-align: left;
    margin-bottom: 29.76px;
}

.motivation-btn {
    width: 216.8px;
    height: 79.36px;
    color: rgb(241, 91, 34);
    font-size: 24.8px;
    font-weight: 744;
    line-height: 28.52px;
    border-radius: 6.2px;
    border: none;
}


/* Footer Styles */

footer {
    height: 434px;
    padding: 161.2px 185px 161.2px 285.2px;
    border: 1.24px solid rgb(241, 91, 34);
    background: rgb(21, 20, 20);
    display: flex;
    justify-content: space-between;
}

.future {
    width: 601.4px;
    height: 393.08px;
    color: rgba(248, 248, 248, 0.7);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.future-title {
    color: rgb(248, 248, 248);
    font-size: 55.8px;
    font-weight: 868;
    line-height: 65.72px;
    margin-bottom: 19.84px;
}

.future-description {
    font-size: 19.84px;
    font-weight: 496;
    line-height: 32.24px;
    margin-bottom: 29.76px;
}

.contact {
    font-size: 19.84px;
    font-weight: 496;
    line-height: 32.24px;
    margin-bottom: 19.84px;
}

.email {
    margin-bottom: 19.84px;
}

.future-img img {
    margin-right: 13.64px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
}

.subs-title {
    color: rgb(255, 255, 255);
    font-size: 31px;
    font-weight: 744;
    line-height: 35.96px;
    margin-bottom: 38.44px;
}

.subs-form input[type='email'] {
    display: block;
    width: 372px;
    height: 49.6px;
    border-radius: 12.4px;
    padding: 26.04px 195.92px 27.28px 26.04px;
    font-size: 22.32px;
    font-weight: 496;
    line-height: 26.04px;
    margin-bottom: 19.84px;
}

.subs-form input[type='submit'] {
    display: block;
    width: 198.4px;
    height: 79.36px;
    border-radius: 9.92px;
    background: rgb(255, 255, 255);
    color: rgb(241, 91, 34);
    font-size: 24.8px;
    font-weight: 744;
    line-height: 29.76px;
    border: none;
}
